<div>
  <button mat-mini-fab color="warm" aria-label="Example icon button with a filter ist icon" (click)="back()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br><br>
<h1 style="text-align: center;" >Edit Teacher Details</h1>
<mat-card>
  
  <form [formGroup]="formValues" (ngSubmit)="Editnontechstaff(formValues)" >
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput  formControlName="teacherName"  required>
        </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <input matInput  formControlName="teacherSex"  required>
        </mat-form-field><br><br>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput formControlName="teacherAge"  required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Phonenumber</mat-label>
          <input matInput  formControlName="teacherPhonenumber"  required>
        </mat-form-field><br><br>
        <mat-form-field>
          <mat-label>Deisgnation</mat-label>
          <input matInput formControlName="teacherDesignation" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Board</mat-label>
          <input matInput formControlName="teacherBoard" required>
        </mat-form-field><br><br>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput  formControlName="teacherAddress"  required>
        </mat-form-field><br><br>
        
         <button mat-raised-button color="primary" type="submit">Update</button>&nbsp;&nbsp;
         <button mat-raised-button color="warn" type="reset">Clear</button>
  </form>
</mat-card>
