
<mat-tab-group>
  <mat-tab label="Add">

    <button mat-stroked-button color="primary" type="button" (click)="Nontech()">Add Non technical staffs</button> &nbsp;&nbsp;
<button mat-stroked-button color="primary" type="button" (click)="Teacher()">Add Teachers</button>&nbsp;&nbsp;
<button mat-stroked-button color="primary" type="button"(click)="Student()">Add Student</button>&nbsp;&nbsp;
  </mat-tab>
  <mat-tab label="View">
    <button mat-stroked-button color="accent" type="button" (click)="ViewNontech()">View Non technical staffs details</button> &nbsp;&nbsp;
    <button mat-stroked-button color="accent" type="button" (click)="ViewTeacher()">View Teachers details</button>&nbsp;&nbsp;
    <button mat-stroked-button color="accent" type="button"(click)="ViewStudent()">View Student details</button> </mat-tab>
  <mat-tab label="Updates"> 
    <button mat-stroked-button color="warn" type="button" (click)="UpdateNotficationbar()">Update Notification bar</button> &nbsp;&nbsp;
    <button mat-stroked-button color="warn" type="button">Update Topers List</button>
    <button mat-stroked-button color="warn" type="button">Updates on Extra curricular activity </button>
  </mat-tab>
</mat-tab-group>
